<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>REDIRECT_URL</key>
	<string>ghostbill://auth-callback</string>
	<key>SUPABASE_URL</key>
	<string>https://onnqlmckhgeqmvymaxpv.supabase.co</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9ubnFsbWNraGdlcW12eW1heHB2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc0NDQ0MTYsImV4cCI6MjA3MzAyMDQxNn0.r6stslXY4-Prujbdk00IBcDCJI4vFHWT9Ps4g9LM2iQ</string>
</dict>
</plist>
